*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
    background-image:url(17973908.jpg) ;
    width: 100%;
    overflow-x: hidden;
}

/* FROM HERE*/


.header-container{
    display: flex;
  
    justify-content: space-around;  
    padding: 1.3rem;; 
}
.header-container__logo{
    font-size: 35px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    line-height: 50px;
    transform: translateX(-40%);
}

.header{
    height: fit-content;
    width: 100%;
    background:#1c5475;    
}

::before , ::after{
    box-sizing: border-box;
}
.header{
    width : 100%;
    border:2px solid rgb(25, 86, 98);
    transition: all .3s ease-in-out;
}
.header__ul{ 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
    transition: all 0.4 ease-in-out;
}

.header__active{
    background-color: rgb(0, 0, 0);
}
.header__ul__li{   
    display: inline;
    list-style-type: none;
   
    margin: 0;
   height: fit-content;
   
    line-height: 0.8rem;
    white-space: nowrap;
    flex-grow: 1;
}
.header__ul__li__a{
   display: inline-block;
   width : 100%; 
   color: white;
    text-transform: capitalize; 
    padding : 1.3rem;

}

.header__ul__li:hover{
     border: 1px solid white;
     transition: .5s;
     background-color: #0082e6;
}
.button--nav-toggler{
    margin-left: 30%;
    padding : 5px;
    display: none;
    transition: .3s all ease-in-out;
}
.button--nav-toggler:hover{
    background-color: #417091;
    padding: 7px;
    border : 1px solid lightgrey;
    border-radius: 7%;
}
/* TILL THERE  */



.company-discription{
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: auto;
    margin-top: 20px;
    
    margin: 40px;
}




.detail-container{
    width : 100%;
    margin:  auto;
    display: flex;
    justify-content: space-around;
   
}


section{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

  


.footer{
    background-color: #24262b;
    padding: 70px 0;
    margin-left: auto;
    margin-right: auto;
}
.footer__container{
    max-width: 1170px;
    margin: auto;
}
.footer__container__row{
    display: flex;
    flex-wrap: wrap;
}
.footer__container__row__footer-col{
    width:25%;
    padding:0 15px;
}
.footer__container__row__footer-col__h2{
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer__container__row__footer-col__h2::before{
   
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color:#e91e63;
    height:2px;
    box-sizing:border-box;
    width: 50px;
}
.footer__container__row__footer-col__ul__li :not(:last-child){
    margin-bottom: 10px;
}
.footer__container__row__footer-col__ul__li__a{
    font-size:16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition:all o.3s ease;
}
.footer__container__row__footer-col__ul__li__a:hover{
    color: #ffffff;
  
}

.footer__container{

    width :80%;
    margin-left: 20%;
}










@media only screen and (max-width :873px){
    .button--nav-toggler{
        display: block;
    }

    .header{
        transform: translateY(0);
        overflow: hidden;
    }

    .header__ul{
        flex-direction: column;
        
    }
    .header__ul__li__a{
        margin-left: 20%;
    }

   
    .buttons-div{
        display: flex;
      
        width : 80%;
        margin-left: 10%;
      
        
    }




    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer__container__row{
        display: block;
      
    }

    .footer__container__row__footer-col__h2{
        margin-top: 20px;
    }
    .footer__container__row__footer-col__ul{
        margin : 0;
    }
}



@media only screen and (max-width :573px){


.detail-container{
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

.detail-container div{
    margin : 35px;
    position: static;
}

.footer-container{
    margin-top: 20px;
}

}